@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex_center {
  display: flex;
  justify-content: center;
}

.release_table {
  border: 1px solid;
  border-collapse: collapse;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
.inventory_table {
  border: 1px solid;
}

.idol_table {
  border: 1px solid;
  display: block;
}

.idol_table td {
  display: inline-block;
}